<div fxLayout="column" class="m152-footer" ngClass.lt-md="m152-footer-small" fxLayoutAlign="space-around">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <p>Michael Sennhauser</p>

        <p>M152 - Multimediainhalte in Webauftritt integrieren</p>

        <div (click)="openGithubRepo()" class="m152-footer-github">
            <div fxLayout="row" fxLayoutAlign="center">
                <img src="assets/logo/m152-github-logo.png" class="m152-footer-github-logo">
            </div>
            <p>Github</p>
        </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <p>© Copyright: Alle Logos, Bilder und Videos wurden von Michael Sennhauser erstellt.</p>
    </div>
</div>