@use '../../../themes.scss' as m152;
@use '@angular/material' as mat;

$footer-size: 128px;

.m152-footer{
    background-color: mat.get-color-from-palette(m152.$theme-accent, 'main');
    height: $footer-size;
    padding: 0 $footer-size 0 $footer-size;
    color: white;
    font-size: 1.25em;
    p{
        margin: 0;
    }
}

.m152-footer-github{
    cursor: pointer;
}

.m152-footer-github-logo{
    $size: 24px;
    height: $size;
    width: $size;
}