@use '../../../themes.scss' as m152;
@use '@angular/material' as mat;

.m152-footer{
    background-color: mat.get-color-from-palette(m152.$theme-accent, 'main');
    height: 150px;
    padding: 0 5% 0 5%;
    color: white;
    font-size: 1.25em;
    p{
        margin: 0;
    }
    &-small{
        font-size: 1em !important;
    }
}

.m152-footer-github{
    cursor: pointer;
}

.m152-footer-github-logo{
    $size: 24px;
    height: $size;
    width: $size;
}