.m152-day-stepper{
    height: calc(100vh - 64px);
    position: sticky;
    top: 64px;
}
.m152-mat-stepper{
    height: 100%;
    ::ng-deep .mat-step{
        height: 33%;
        .mat-vertical-content-container{
            height: 75%;
        }
    }
}