<div fxFlex="100" fxLayout="row" class="m152-day-container">

    <div *ngIf="!isSmall" fxFlex="75" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <m152-picture-slider [srcEdited]="'assets/picture/lea-cozy-edited.jpg'"
            [srcOriginal]="'assets/picture/lea-cozy-original.jpg'" [step]="0">
        </m152-picture-slider>
        <m152-picture-slider [srcEdited]="'assets/picture/lea-playing-edited.jpg'"
            [srcOriginal]="'assets/picture/lea-playing-original.jpg'" [step]="1">
        </m152-picture-slider>
        <m152-youtube-video></m152-youtube-video>
        <m152-picture-slider [srcEdited]="'assets/picture/lea-television-edited.jpg'"
            [srcOriginal]="'assets/picture/lea-television-original.jpg'" [step]="3">
        </m152-picture-slider>
    </div>

    <m152-day-stepper fxFlex="100"></m152-day-stepper>

</div>