@use '../../../themes.scss' as m152;
@use '@angular/material' as mat;

.m152-home {
    height: calc(100vh - 64px);
    width: 100vw;
    background-color: mat.get-color-from-palette(m152.$theme-accent, 'main');
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
    z-index: 1;
    position: relative;
}


.m152-lea-logo{
    $m152-lea-size: 80vh;
    position: absolute;
    top: calc(50% - 40vh);
    left: 10%;
    ::ng-deep .mat-icon{
        opacity: 0.5;
        height: $m152-lea-size;
        width: $m152-lea-size;
        font-size: $m152-lea-size;
        line-height: $m152-lea-size;
    }
}
.m152-lea-logo-small{
    $m152-lea-size: 80vw;
    position: absolute;
    top: calc(50% - 40vw);
    left: 10%;
    ::ng-deep .mat-icon{
        opacity: 0.5;
        height: $m152-lea-size;
        width: $m152-lea-size;
        font-size: $m152-lea-size;
        line-height: $m152-lea-size;
    }
}

.m152-title{
    color: white;
    text-align: right;
    font-size: 6em;
    font-weight: 600;
    line-height: 1.25em;
    z-index: 2;
    &-small{
        font-size: 4em;
    }
}
